.select {
  margin-bottom: 15px;
}

.select label {
  margin: 0 0 3px 0;
  padding: 0;
  display: block;
  font-size: 0.875rem;
}

.select select {
  display: block;
  margin: 0 0 5px;
  height: 29px;
  width: 100%;
  outline: none;
  height: calc(1.5em + 0.94rem + 2px);
  padding: 0.47rem 0.75rem;
  border: 1px solid #222a3c;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: #eef4ff;
  background-color: #0c1427;
  background-clip: padding-box;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.select option {
  cursor: pointer;
}

.select {
  margin-bottom: 40px;
}
