.drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 200px;
  padding: 40px 10px;
  box-shadow: 0 8px 10px 0 #03060b;
  background: #0c1427;
  border-right: 1px solid #172340;
  z-index: 10;
  transform: translateX(0px);
  transition: all 0.2s linear;
}

.closeDrawer {
  composes: drawer;
  transform: translateX(-200px);
}

.drawer ul li {
  margin-bottom: 15px;
}

.link {
  color: #bfc3ce;
  font-size: 14px;
  position: relative;
  padding: 0 20px 10px 20px;
  transition: all 0.2s linear;
}

.drawer ul li a:hover,
.active {
  color: #727cf5;
}

.close {
  position: fixed;
  top: 40px;
  left: 150px;
  font-size: 20px;
  cursor: pointer;
  color: #a6b0cf;
  transition: all 0.22s linear;
  z-index: 100;
}

.close:hover {
  color: rgb(255, 255, 255);
}
