.quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 100%;
}

.title {
  color: #eef4ff;
  margin-bottom: 20px;
}

.quizWrapper {
  width: 600px;
  background: #eee;
  box-shadow: 3px 0 10px 0 #060b15;
  padding: 30px;
  background-color: #0c1427;
  background-clip: border-box;
  border: 1px solid #172340;
  border-radius: 0.25rem;
  height: auto;
}
