.input {
  margin-bottom: 15px;
}

.input label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eef4ff;
}

.input input {
  display: block;
  border: 1px solid #bebebe;
  margin: 7px 0 5px;
  width: 100%;
  outline: none;
  height: calc(1.5em + 0.94rem + 2px);
  padding: 0.47rem 0.75rem;
  border: 1px solid #222a3c;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  color: #eef4ff;
  background-color: #0c1427;
  background-clip: padding-box;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input span {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}

.input.invalid label {
  color: #f01f30;
}
