.quizCreator {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-grow: 1;
  width: 100%;
  background-color: #070d19;
}

.quizCreator > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.quizCreator h1 {
  text-align: center;
  color: #eef4ff;
  margin: 0;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.quizCreator form {
  padding: 30px;
  color: #eef4ff;
  background-color: #0c1427;
  background-clip: border-box;
  border: 1px solid #172340;
  border-radius: 0.25rem;
  box-shadow: 3px 0 10px 0 #060b15;
}

.hr {
  margin-bottom: 30px;
}
