.auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
}

.box {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}

.auth h2 {
  color: #eef4ff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
  font-size: 25px;
}

.authForm {
  background: #eee;
  box-shadow: 3px 0 10px 0 #060b15;
  padding: 15px;
  background-color: #0c1427;
  background-clip: border-box;
  border: 1px solid #172340;
  border-radius: 0.25rem;
}

.controls {
  display: flex;
  justify-content: center;
}
